body {
	text-align: center;
}

div#PairInfo{
  background-color: green;
  margin: 0 auto;
}

#PairPassword {
  float: left;
  padding: 3px;
  width:200px;
  height:40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}
